<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/e5e04d31-7580-4488-83cf-ff1962273d8b/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.ContainerRegistry/registries/MarketsInterface</ResourceId>
    <ResourceName>MarketsInterface</ResourceName>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://marketsinterface.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1a807dd1-9a10-4ccc-8818-78ce769694da</ProjectGuid>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>